.all {
  &__searches {
    margin: 16px auto;
    text-align: center;
  }

  &__input {
    margin-right: 10px;
  }

  &__multipleType {
    display: flex;
    flex-direction: column;
    height: 40px;
    box-sizing: border-box;
  }

  &__img {
    height: 30px;
    padding-left: 10px;
  }

  &__name {
    text-decoration: none;
  }

  &__typeOne,
  &__typeTwo {
    border: none;
  }

  &__typeTwo {
    border-bottom: 1px solid black;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  height: 40px;
  box-sizing: border-box;
  min-width: 80px;
  text-align: center;
}

select,
input {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  vertical-align: middle;
  padding: 0.3rem 0.55rem;
}

select:active,
select:focus {
  border: none;
}
